*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 10px;
}
body{
    overflow: hidden;
}
header{
    height: 110vh;
    background-color: black;
}
nav{
    width: 100%;
    height: 6rem;
    background-color: black; 
    backdrop-filter: blur(40px) saturate(180%);
}
nav .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container input{
    display: none;
}
nav .container label{
    display: none;
}
a.logo{
    font-size: 3rem;
    color: #ccc;
}
a.logo:hover{
    color: white;
}
nav ul li{
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2rem;
}
nav ul li a{
    text-decoration: none;
    color: #ccc;
}
nav ul li a:hover{
    color: #fff;
}
.icon i{
    color: #ccc;
    margin-right: 1rem;
    font-size: 1.8rem;
}
.icon i:hover{
    color: white;
}
.span-content{
    background-color: #1d1d1f;
    text-align: center;
    padding: 5px 0px;
}
.span-content p{
    font-size: 1.5rem;
    color: white;
}
.span-content p:nth-child(1){
    margin-bottom: 0px;
}

.header-content{
    height: 80vh;
    background: url(https://www.apple.com/v/iphone-15-pro/c/images/overview/welcome/hero_endframe__ov6ewwmbhiqq_large.jpg) center no-repeat;
    position: relative;
}
.header-content h1{
    color: #8c8881;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 3%;
}
.header-content button{
    outline: none;
    background-color: #0071e3;
    color: #fff;
    padding: 1.2rem 2.8rem;
    border-radius: 2rem;
    font-size: 1.8rem;
    position: absolute;
    bottom: 25%;
    left: 45%;
}
.header-content p{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 35%;
}

@media (max-width: 992px){
    nav{
        position: relative;
    }
    nav .container label{
        display: block;
        color: #fff;
        font-size: 2.5rem;
        position: absolute;
        right: 20px;
    }
    nav .container ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -1000%;
        height: 100vh;
        background-color: #fff;
        padding-top: 2rem;
        padding-right: 4rem;
        transition: all 300ms ease-in-out;
    }
    nav .container ul li{
        font-size: 2rem;
        border-bottom: 1px solid #000;
    }
    nav .container ul li a{
        color: #000;
    }
    .header-content{
        background: none;
    }
    nav .container input:checked ~ ul{
        top: 0px;
    }
    .icon{
        position: absolute;
        right: 10%;
    }
    a.logo{
        position: absolute;
        left: 40px;
    }
}